@model MakeBetViewModel
@inject BetBoomMVC.Application.Services.Interfaces.IEventService _eventService
@{
    var _event = await _eventService.GetEventByIdAsync(@Model.Outcome.EventId);
}

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h2 class="text-center">Оформление ставки</h2>

            <div class="card bg-dark text-yellow">
                <div class="card-body">
                    <h4 class="text-left">@_event.Name </h4>
                    <p class="text-left">Исход - @Model.Outcome.Name</p>
                    <p class="text-left">Коэффициент - @Model.Outcome.Coefficient</p>
                </div>
            </div>

            <form method="post" action="@Url.Action("AddBet", "Bet",  new { outcomeId = @Model.Outcome.Id })" class="mt-3">
                @Html.AntiForgeryToken()

                <div class="form-group">
                    <label for="amount">Сумма:</label>
                    <input type="text" id="amount" name="amount" class="form-control" style="width: 50%;" required>
                </div>

                <button type="submit" class="btn btn-danger btn-block">Сделать ставку</button>
            </form>

        </div>
    </div>
</div>
