@model SportDetailsViewModel


<style>
    .container2 {
        display: flex;
        justify-content: space-between;
    }

    .main-content {
        flex-grow: 1;
        padding: 20px;
        background-color: #15181C;
        border: 2px solid #ff5733;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center; /* Добавлено для выравнивания содержимого по центру */
    }

        .main-content img {
            max-width: 60%;
            margin-bottom: 20px;
        }

    ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
    }

        ul li {
            font-size: 20px;
            color: #FFD700; /* Изменен цвет текста */
        }

    .sidebar {
        width: 300px;
        padding: 20px;
        background-color: #15181C;
        border: 2px solid #ff5733;
        text-align: center;
    }

    .nav-list {
        list-style: none;
        padding: 0;
    }

    .nav-item {
        padding: 10px 0;
    }

    .nav-link2 {
        text-decoration: none;
        color: #FFD700;
        font-weight: bold;
    }

    .nav-link3 {
        text-decoration: none;
        color: #FFD700;
        font-weight: bold;
        font-size : 26px;
    }

        .nav-link2:hover {
            color: #ff5733;
        }

    .image-container {
        margin-top: 50px;
        margin-right: 50px;
        display: flex;
        justify-content: space-between;
    }

        .image-container img {
            max-width: 60%;
            margin-bottom: 20px;
        }
</style>

<div class="container2">
    <div class="main-content">
        <h1 style="text-align: center;">@Model.SportType.Name</h1>
        <div class="image-container">
            <img src="~/images/@Model.SportType.ImagePath" alt="Первая картинка">
            <ul>
                @foreach (var league in Model.Leagues)
                {
                    <li class="nav-item">
                    <a class="nav-link3" href="@Url.Action("Matches", "Event", new { leagueId = league.Id })">@league.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div class="sidebar">
        <h2>Виды спорта</h2>
        <ul style="text-align : center;" class="nav-list">
            @foreach (var sportType in Model.SportTypes)
            {
                <li class="nav-item">
                    <a class="nav-link2" href="@Url.Action("Details", "Sport", new { id = sportType.Id })">@sportType.Name</a>
                </li>
            }
        </ul>
    </div>
</div>